<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      * {
        font-family: Avenie;
      }
      a {
        color: #8D7AFF;
      }
      .flex-container {
        display: flex;
        justify-content: center;
      }
      .flex-container .description p {
        text-align: center;
        margin: 0 373px;
        color: #666666;
      }
      .title {
        font-size: 20px;
        margin-top: 40px;
        color: #666666;
      }
      .btn {
        background-color: white;
        border: 1px solid #8D7AFF;
        color: #8D7AFF;
        margin-top: 20px;
        padding: 10px 80px;
        font-size: 16px;
      }
      .margin-top-10 {
        margin-top: 30px;
      }
      .flex-container-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
      .flex-container-img > div img {
        height: 150px;
        margin: 8px 45px 0 45px;
      }
      .grid-two-column {
        display: grid;
        grid-template-columns: auto auto;
        margin: 10px 375px;
        justify-content: center;
        grid-gap: 5px 10px;
      }
      .grid-three-column {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 10px 375px;
        justify-content: center;
        grid-gap: 5px 10px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
